.seles {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}
.seli {
  margin-right: 10px;
}
.seli1 {
  margin-right: 10px;
  width: 150px;
}
.isub {
  background-color: var(--second-color);
  padding: 5px 12px;
  border-radius: 5px;
}

.isub:hover {
  cursor: pointer;
  background: rgb(255, 72, 0);
  transition: all 0.4s ease-out;
  color: white;
}
.table {
  max-width: 700px;
  margin-top: 30px;
  /* border-collapse: separate; */
  /* border-collapse: collapse; */
  width: 100%;
  border-spacing:0px 2px;
  /* color: rgb(255, 72, 0); */
  font-size: 11px;
}
thead {
  min-height: 19px;
  background-color: rgb(33, 33, 33);
  color: rgb(255, 72, 0);
  margin-bottom: 20px;
}
.t1 {
  width: 34px;
  min-height: 19px;
  text-align: center;
  padding: 0px 4px;
}
.t2 {
  text-align: left;
  min-height: 19px;
  padding: 4px 2px;
}
.t3 {
  width: 34px;
  min-height: 19px;
  text-align: center;
  cursor: default;
  position: relative;
  text-transform: uppercase;
  padding: 4px 0px;
}
th{
    padding-bottom: 8px;
}
tbody {
  min-height: 19px;
  background-color: rgb(33, 33, 33);
  color: rgb(255, 72, 0);
  margin-bottom: 20px;
  /* margin-top: 10px; */
}
