.rankings {
    /* background-color: white; */
    /* border: 1px solid white; */
    height: 90%;
    width: 700px;
    margin: 50px 0px 10px 50px;
  }
  .headdies {
    margin-bottom: 18px;
    font-size: 12px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.707);
    width: 160px;
    border-radius: 12px;
    height: 35px;
    background-color: #811aff;
    /* padding: 5px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .accord{
      color: white;
      font-size: 12px;
      margin-top: 20px;
  }
  
  